

<div *ngIf="CourseDetails ">
  <app-bread-crumb [bread]="'Courses / '+CourseDetails.courseName"></app-bread-crumb>
  <br>
  <hr>
<h2 class="name">{{CourseDetails.courseName}}</h2>
<div class="detail-container">
  <div class="detail-item">
      <div class="image">
          <img [src]="CourseDetails.imageURL" alt="">
      </div>
      <div class="details">
          <div class="price"> <span>Price :</span> {{CourseDetails.actualPrice}} ₹</div>
          <br>
            <!-- disscount -->
          <div *ngIf="CourseDetails.discountPercentage >0" class="discount"> <span>discount :</span> {{CourseDetails.discountPercentage}} %</div>

          <div *ngIf="CourseDetails.discountPercentage > 0" class="discount"> <span>price after discount :</span> {{CourseDetails.actualPrice -price}}</div>

          <!-- Tags -->
          <div class="tags">
           <span>Tags :</span>  <br> <br>
            <span class="tag" *ngFor="let tag of CourseDetails.tags"> {{tag}}</span>
          </div>
          <!-- Author -->
          <div class="author"> <span>Author :</span> {{CourseDetails.author}}</div>
          <!-- Button -->
          <!-- <button type="submit" (click)="addToCart()"  class="btn">Add to cart</button> -->
          <app-add-to-cart [courseDetails]="CourseDetails"></app-add-to-cart>
            <app-add-to-wish [courseDetails]="CourseDetails" [detail]="false"></app-add-to-wish>
          <div class="back-link" routerLink=""> <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#33B5E5" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg> Back to product List</div>
      </div>
  </div>
</div>
</div>
