.profile{
  max-width: 70%;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  margin:20px auto;
  .image{
    width: 40%;
    border: 1px solid red;
  }
  .info{
    width: 55%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div{
      border: 1px solid green;
      padding: 10px;
      text-align: center;
      width: 80%;
      margin:20px auto;
      border-radius: 10px;
    }
  }
}
